<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Email Verification</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/public/css/admin.css">
    <%_ if (locals.customCssUrl) { _%>
    <link href="<%= customCssUrl %>" rel="stylesheet" type="text/css">
    <%_ } _%>
  </head>
  <body class="confirm-email-page">
    <div id="root">
      <div class="error-console container"></div>
      <form id="verify-email-form" class="container">
        <legend class="legend"><%= t('confirm_email.click_to_confirm') %></legend>
        <button type="submit"><%= t('confirm_email.confirm') %></button>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/public/javascripts/admin.js"></script>
    <script type="text/javascript">
      $(function() {
        function handleSubmit(e) {
          e.preventDefault();
          $('.error-console').removeClass('active');

          $.ajax({
            url: '<%= BASE_PATH %>api/v1/account/email/verify',
            contentType: 'application/json',
            method: 'POST',
            data: JSON.stringify({token: location.hash.replace('#', '')})
          }).then(function (success) {
            location.href = success.redirectUri;
          }).catch(function (error) {
            showError(error.responseText);
          });
        }

        $.ajax({
          url: '<%= BASE_PATH %>api/v1/account/email/verify',
          contentType: 'application/json',
          method: 'POST',
          data: JSON.stringify({token: location.hash.replace('#', ''), check: true})
        })
        .then(function () {
          $('#verify-email-form').fadeIn().on('submit', handleSubmit);
        })
        .catch(function (error) {
          showError(error.responseText);
        });
      });
    </script>
  </body>
</html>
