<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Talk - Coral Admin</title>
    <link rel="apple-touch-icon" sizes="57x57" href="<%= STATIC_URL %>public/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= STATIC_URL %>public/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= STATIC_URL %>public/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= STATIC_URL %>public/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= STATIC_URL %>public/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= STATIC_URL %>public/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= STATIC_URL %>public/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= STATIC_URL %>public/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= STATIC_URL %>public/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= STATIC_URL %>public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= STATIC_URL %>public/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= STATIC_URL %>public/img/favicon-16x16.png">
    <link rel="manifest" href="<%= STATIC_URL %>public/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.min.css">
    <style media="screen">
      body, #root {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: #FAFAFA;
        font-family: 'Roboto', sans-serif;
      }

      #root > div {
        height: 100%;
      }
    </style>
    <%_ if (locals.customCssUrl) { _%>
    <link href="<%= customCssUrl %>" rel="stylesheet" type="text/css">
    <%_ } _%>
    <% if (data != null) { %>
    <script id="data" type="application/json"><%- JSON.stringify(data) %></script>
    <% } %>
    <base href="<%= BASE_URL %>"/>
  </head>
  <body class="admin-page">
    <div id="root"></div>
    <script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer></script>
    <script src="<%= STATIC_URL %>static/coral-admin/bundle.js" charset="utf-8"></script>
  </body>
</html>
