<html>
  <head>
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="A description of this article." />
    <meta property="article:author" content="A. J. Ournalist" />
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://coralproject.net/images/splash-md.jpg">
    <meta property="article:published" itemprop="datePublished" content="2016-11-16T11:46:06-05:00" />
    <meta property="article:modified" itemprop="dateModified" content="2016-11-16T12:09:44-05:00" />
    <meta property="article:section" itemprop="articleSection" content="The Section!" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      main {
        margin-left:auto;
        margin-right:auto;
        max-width:500px;
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
  <main>
    <h1><%= title %></h1>
    <p><%= body %></p>
    <p><a href="/admin">Admin</a> - <a href="/assets">All Assets</a></p>
    <div id='coralStreamEmbed'></div>
    <script src="/embed.js" async onload="
      Coral.Talk.render(document.getElementById('coralStreamEmbed'), {
        talk: '/',
        asset: '<%= asset_url ? asset_url : 'undefined' %>'
      })
    "></script>
  </main>
  </body>
</html>
